-#- @journal_records.each do |record|
-#  -if record.journalable.instance_of?(Relocation)
-#    %h3= record.journalable.department.name
-#  -else
-#    %h3= record.journalable.reason

.container-fluid
  .history
    .row.menu
      .col-md-12
        .pull-right
          .menu-item
            = link_to user_root_path do
              = fa_icon "user 2x", class: "text-muted", title: "Профиль"
          .menu-item
            = link_to destroy_user_session_path, method: :delete do
              = fa_icon "power-off 2x", class: "text-muted", title: "Выйти"
    .row.back
      .col-md-12
        .pull-left
          .menu-item
            = link_to equipment_index_path do
              = fa_icon "arrow-circle-o-left 2x", class: "text-muted", title: "Назад"
    .row.header
      .col-md-6.col-md-offset-3
        %h1.title= @item.full_name
    .row.content
      .col-md-6.col-md-offset-3.col-xs-12
        %div{ id: "timelineContainer", class: "timelineContainer" }
          - if @journal_records.any?
            - @journal_records.each do |one_year_records|
              %div{ class: "timelineMajor" }
                %h2{ class: "timelineMajorMarker" }
                  %span= one_year_records.first
                - one_year_records.last.each_with_index do |event, index|
                  %dl{ class: "timelineMinor" }
                    %dt{ id:"event-#{one_year_records.first}#{index + 1}" }
                      %a
                        %strong= Russian::strftime(event.action_date, "%B, %d")
                        #{event.full_text}
                    %dd{ class: "timelineEvent", id: "event-#{one_year_records.first}#{index + 1}EX", style: "display: none; " }
                      = event_subtext(event)
          -else
            %h3 С данным оборудованием ничего не происходило.


