.container-fluid.edit
  .header
    .row.menu
      .col-md-12
        .pull-right
          .menu-item
            = link_to user_root_path do
              = fa_icon "user 2x", class: "text-muted", title: "Профиль"
          .menu-item
            = link_to destroy_user_session_path, method: :delete do
              = fa_icon "power-off 2x", class: "text-muted", title: "Выйти"
    .row.back
      .col-md-12
        .pull-left
          .menu-item
            = link_to equipment_index_path, method: :get do
              = fa_icon "arrow-circle-o-left 2x", class: "text-muted", title: "Назад"
    .row
      .col-md-6.col-md-offset-3
        %h1.title= @item.full_name
  .row.content
    .col-md-6.col-md-offset-3
      = form_for(@item, html: { class: "form-horizontal" }) do |f|
        %fieldset
          -#%legend Редактирование

          #flash-display
            - if @item.errors.any?
              %div{:class => "alert alert-dismissable alert-danger", "data-dismiss" => "alert"}
                %button.close &times;
                - @item.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :model, "Модель", class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :model, placeholder: "Введите модель...", class: "form-control"

          = fields_for @item.manufacturer do |m|
            .form-group
              = m.label :name, "Производитель", class: "col-lg-2 control-label"
              #remote.col-lg-10
                = m.text_field :name, class: "typeahead manufacturer form-control", placeholder: "Введите производителя..."

          .form-group
            = f.label :inventory_number, "Инвентарный номер", class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :inventory_number, placeholder: "Введите инвентарный номер...",
                              maxlength: "12", class: "form-control"

          .form-group
            = f.label :equipment_type_id, "Тип", class: "col-lg-2 control-label"
            .col-lg-10
              = f.select :equipment_type_id, @equipment_types, {}, class: "form-control"

          .form-group
            .col-lg-10.col-lg-offset-2
              = f.button class: "btn btn-primary" do
                %i.glyphicon.glyphicon-floppy-disk
                Сохранить