.container-fluid
  .header
    .row.menu
      .col-md-12.col-xs-12
        .pull-right
          .menu-item
            = link_to new_equipment_path, method: :get do
              = fa_icon "plus-square 2x", class: "text-muted", title: "Добавить оборудование"
          .menu-item
            = link_to user_root_path do
              = fa_icon "user 2x", class: "text-muted", title: "Профиль"
          .menu-item
            = link_to destroy_user_session_path, method: :delete do
              = fa_icon "power-off 2x", class: "text-muted", title: "Выйти"

    .row
      .col-md-6.col-md-offset-3
        %h1.title Список оборудования
        -#= link_to new_equipment_path, method: :get do
        -#  = fa_icon "plus-square 5x", class: "text-muted", title: "Добавить оборудование"
    .row
      .col-md-12
        %nav
          %ul.navigation
            %li.nav-item.active
              = button_tag "Все", class: "filter link", data: { filter: "all" }
            - @categories.each_with_index do |c, index|
              %li.nav-item
                = button_tag c.name, class: "filter link", data: { filter: ".category-#{index}" }

  .row
    .col-md-6.col-md-offset-3
      #flash-display
        - flash.each do |type, msg|
          %div{:class => "alert alert-dismissable alert-#{type == "notice" ? "success" : "danger" }", "data-dismiss" => "alert"}
            %button.close &times;
            = msg if msg.is_a?(String)

      = form_tag(equipment_index_path, method: :get, class: "search-form") do
        .input-group
          %span.input-group-addon.dark
            %i.glyphicon.glyphicon-search
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Введите строку поиска..."
          %span.input-group-btn
            = submit_tag "Поиск", class: "btn btn-primary", name: nil

      -# Dropdown categories
      -#.btn-group
      -#  =button_tag class: "btn btn-default dropdown-toggle", type: "button", data: { toggle: "dropdown" } do
      -#    Dropdown
      -#    %span.caret
      -#  %ul.dropdown-menu
      -#    %li
      -#      = link_to "dropdown", "#"
      -#      = link_to "dropdown", "#"
      -#      = link_to "dropdown", "#"
      -#      = link_to "dropdown", "#"
      -#    %li.divider
      -#      = link_to "dropdown", "#"

      -#=button_tag "Filter", class: "filter", data: { filter: ".category-0" }
      #Container
        - @equipment.each do |i|
          = content_tag :div, class: "item mix category-#{i.equipment_type.category.id - 1}" do
            .actions
              = link_to edit_equipment_path(i.id) do
                = fa_icon "pencil", class: "text-muted", title: "Редактировать"
              = link_to history_path(i.id), method: :get do
                = fa_icon "clock-o", class: "text-muted", title: "История"
              = link_to equipment_path(i.id), method: :delete do
                = fa_icon "trash-o", class: "text-muted", title: "Удалить"
            .name= i.full_name
            .inventory= "Инвентарный номер: #{i.inventory_number}"
            .bottom
              .department= "Подразделение: #{i.department.name}"
              .created_at= "Добавлен: #{i.created_at.strftime("%d.%m.%Y")}"
            - if i.writed_off?
              .writed_off= Списан

  .page-buffer
  %footer.row
    .col-xs-12.col-md-12
      -#%p © 2014 ФГБОУ ВПО «Кубанский государственный аграрный университет»


