.container-fluid
  .import
    .row.menu
      .col-md-12
        .pull-right
          .menu-item
            = link_to user_root_path, id: "profile-link", "data-content" => "Профиль",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "user 2x", class: "text-muted"
          .menu-item
            = link_to destroy_user_session_path, method: :delete, id: "log-out-link", "data-content" => "Выйти",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "power-off 2x", class: "text-muted"
    .row.back
      .col-md-12
        .pull-left
          .menu-item
            = link_to equipment_index_path, method: :get, id: "back-link", "data-content" => "Назад",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "arrow-circle-o-left 2x", class: "text-muted"
    .row.header
      .col-md-6.col-md-offset-3
        %h1.title Импорт
    .row.content
      .col-md-12.col-xs-12
        = form_tag(upload_path, id: "import_form", multipart: true, method: :post, remote: true, authenticity_token: true) do
          = file_field_tag 'import_file', accept: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          .actions
            .file-item
              = link_to 'javascript:;', id: "upload_lnk" do
                = fa_icon "file 3x", class: "text-muted"
                %div
                  <span class="file-name">Выбрать файл</span><span class="file-ext"></span>

            .hidden-item.hidden-xs

            .import-item
              = link_to 'javascript:;', id: "import_lnk" do
                = fa_icon "download 3x", class: "text-muted"
                %div Загрузить

    #result_modal_container
    = render partial: 'format'

    .row
      .col-md-6.col-md-offset-3
        .progress.progress-striped.active{ :id => "progress" }
          %div.progress-bar{ :style => "width: 0%", :id => "bar" }
